@model EFCoreImageUploadAssignment2.Models.Employee

@{
    ViewData["Title"] = Model != null ? "Edit" : "Create";
}

<h1>Create</h1>


<hr />
<div class="row">
    <div class="col-md-4">

        <form asp-action="@ViewData["Title"]" enctype="multipart/form-data">

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <input type="hidden" asp-for="EmpId" data-val="false" />
                <input type="hidden" asp-for="ImageId" data-val="false" />
             
            </div>
            <div class="form-group">
                <input type="hidden" asp-for="EmpId" />
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Address" class="control-label"></label>
                <input asp-for="Address" class="form-control" />
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>

            <div class="form-group">

                <label class="control-label">Department</label>
                <select asp-for="DeptId" class="form-control" asp-items="@(new SelectList(ViewBag.Departments,"DeptId","Name"))">
                    <option value="">--- Select Department ---</option>
                </select>
                <span asp-validation-for="DeptId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Image.ImageFile" class="control-label"></label>
                <input asp-for="Image.ImageFile" accept="image/*" />
                <span asp-validation-for="Image.ImageFile" class="text-danger"></span>

                @if (ViewBag.ImagePath != ""&& ViewBag.ImagePath != null)
                {
                <img src="@ViewBag.ImagePath" asp-append-version="true" height="150px" width="170px" />
                }
            </div>
            <div> 
              

            </div>

            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
